# Beautiful soup

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

## 1) Write a python program to display all the header tags from wikipedia.org.

In [ ]:
# Scraping wikipedia page
url = 'https://en.wikipedia.org/wiki/Main_Page'

In [3]:
request = requests.get(url)

In [4]:
request

In [5]:
Soup = BeautifulSoup(request.content)

In [6]:
# creating a list of all common heading tags
heading_tags = ["h1", "h2", "h3","h4","h5",'h6']
for i in Soup.find_all(heading_tags):
    print(i.text)

Main Page
Welcome to Wikipedia
From today's featured article
Did you know ...
In the news
On this day
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Personal tools


Namespaces


Views


Search


Navigation


Contribute


Tools


Print/export


In other projects


Languages

## 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame.

In [7]:
imdb = requests.get("https://www.imdb.com/chart/top/")
imdb

In [8]:
soup = BeautifulSoup(imdb.content,'html.parser')

In [9]:
all_movies = soup.find_all('tr')

In [10]:
movie_list = []

for i, val in enumerate(all_movies):
    if i ==0:
        continue
    if i ==101:
        break
        
    tit_col = val.find('td',{'class':'titleColumn'})
    
    name = tit_col.find('a').text
    
    year = tit_col.find('span').text.replace('(',"").replace(')',"")
    
    rating = val.find('td',{'class':'ratingColumn'}).find('strong').text
    
    movie_list.append({'Name':name,'Rating':rating,'Year Of Release':year})

In [11]:
df = pd.DataFrame(movie_list)
df

                                 Name Rating Year Of Release
0            The Shawshank Redemption    9.2            1994
1                       The Godfather    9.2            1972
2                     The Dark Knight    9.0            2008
3               The Godfather Part II    9.0            1974
4                        12 Angry Men    8.9            1957
..                                ...    ...             ...
95                             Jagten    8.3            2012
96  M - Eine Stadt sucht einen Mörder    8.3            1931
97                 North by Northwest    8.3            1959
98                       Idi i smotri    8.2            1985
99                            Vertigo    8.2            1958

[100 rows x 3 columns]

## 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [12]:
url = "https://www.imdb.com/india/top-rated-indian-movies/"

In [13]:
request = requests.get(url)

In [14]:
request

In [15]:
soup = BeautifulSoup(request.content,'html.parser')

In [16]:
all_indian_movies = soup.find_all('tr')

In [17]:
list_of_movies = []

for i,movies in enumerate(all_indian_movies):
    if i ==0:
        continue
    if i==101:
        break
        
    container = movies.find('td',{'class':'titleColumn'})
    name = container.find('a').text
    year = container.find('span').text.replace('(','').replace(')','')
    rating = movies.find('td',{'class':'ratingColumn'}).find('strong').text
    
    list_of_movies.append({'Name':name,'Rating':rating,'Year of Release':year})

In [18]:
df = pd.DataFrame(list_of_movies)
df

                           Name Rating Year of Release
0    Rocketry: The Nambi Effect    8.5            2022
1                    Anbe Sivam    8.4            2003
2                       Golmaal    8.4            1979
3                       Nayakan    8.4            1987
4                      Jai Bhim    8.4            2021
..                          ...    ...             ...
95              Rang De Basanti    8.0            2006
96  Baahubali 2: The Conclusion    8.0            2017
97                       Baasha    8.0            1995
98                       Masaan    8.0            2015
99                    Virumandi    8.0            2004

[100 rows x 3 columns]

## 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [19]:
url = "https://presidentofindia.nic.in/former-presidents.htm"

In [20]:
page = requests.get(url)

In [21]:
page

In [22]:
soup = BeautifulSoup(page.content,'html.parser')

In [23]:
president_list = soup.find_all('div',{'class':'presidentListing'})
#president_list

In [24]:
lis = []

for val in (president_list):
    
    name = val.find('h3').text
    term = val.find('p').text.replace('Term of Office:','')
    
    lis.append({'President_name':name,'Term of Office':term})

In [25]:
df = pd.DataFrame(lis)
df

,President_name,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

## 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [26]:
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [27]:
re = requests.get(url)
re

In [28]:
soup = BeautifulSoup(re.content,'html.parser')

In [29]:
odi = soup.find('table').find('tbody').find_all('tr')

In [30]:
odi_lis = []

for i, val in enumerate(odi):
    if i ==10:
        break
        
    team = val.find('span',{'class':'u-hide-phablet'}).text
    td = val.find_all('td')
    matches = td[2].text
    points = td[3].text
    rating = td[4].text.strip()
    
    odi_lis.append({'Team':team,'Matches':matches,'Points':points,'Rating':rating})

In [31]:
df = pd.DataFrame(odi_lis)
df

           Team Matches Points Rating
0   New Zealand      19  2,355    124
1       England      27  3,226    119
2         India      31  3,447    111
3      Pakistan      22  2,354    107
4     Australia      23  2,325    101
5  South Africa      21  2,111    101
6    Bangladesh      30  2,753     92
7     Sri Lanka      29  2,658     92
8   West Indies      41  2,902     71
9   Afghanistan      18  1,238     69

### b) Top 10 ODI Batsmen along with the records of their team and rating.

In [32]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'

In [33]:
re = requests.get(url)
re

In [34]:
soup = BeautifulSoup(re.content,'html.parser')

In [35]:
player = soup.find('table').find_all('tr')

In [36]:
lis = []

for i, val in enumerate(player):
    if i ==0:
        continue
        
    if i == 11:
        break
        
    tds = val.find_all('td')
    player = tds[1].text.replace('\n','')
    team = tds[2].text.replace('\n','')
    point = tds[3].text.replace('\n','')
    lis.append({'Player':player,'Team':team,'Rating':point})

In [37]:
df = pd.DataFrame(lis)
df

                  Player Team Rating
0             Babar Azam  PAK    890
1  Rassie van der Dussen   SA    789
2        Quinton de Kock   SA    784
3            Imam-ul-Haq  PAK    779
4            Virat Kohli  IND    744
5           Rohit Sharma  IND    740
6           David Warner  AUS    737
7         Jonny Bairstow  ENG    732
8            Ross Taylor   NZ    722
9            Aaron Finch  AUS    715

### c) Top 10 ODI bowlers along with the records of their team and rating.

In [38]:
url ="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"

In [39]:
re = requests.get(url)
re

In [40]:
soup = BeautifulSoup(re.content,'html.parser')

In [41]:
bowling = soup.find('table').find_all('tr')

In [42]:
lis = []

for i, val in enumerate(bowling):
    if i ==0:
        continue
        
    if i == 11:
        break
        
    tds = val.find_all('td')
    player = tds[1].text.replace('\n','')
    team = tds[2].text.replace('\n','')
    point = tds[3].text.replace('\n','')
    lis.append({'Player':player,'Team':team,'Rating':point})

In [43]:
df = pd.DataFrame(lis)
df

              Player Team Rating
0        Trent Boult   NZ    720
1     Josh Hazlewood  AUS    679
2   Mujeeb Ur Rahman  AFG    676
3     Jasprit Bumrah  IND    662
4     Shaheen Afridi  PAK    661
5      Mohammad Nabi  AFG    657
6       Mehedi Hasan  BAN    655
7        Rashid Khan  AFG    651
8         Matt Henry   NZ    644
9  Mustafizur Rahman  BAN    640

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

## a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [44]:
url = "https://www.icc-cricket.com/rankings/womens/team-rankings/odi"

In [45]:
re = requests.get(url)
re

In [46]:
soup = BeautifulSoup(re.content,'html.parser')

In [47]:
top = soup.find('table').find('tbody').find_all('tr')

In [48]:
odi_lis = []

for i, val in enumerate(top):
    if i ==10:
        break
        
    team = val.find('span',{'class':'u-hide-phablet'}).text
    td = val.find_all('td')
    matches = td[2].text
    points = td[3].text
    rating = td[4].text.strip()
    
    odi_lis.append({'Team':team,'Matches':matches,'Points':points,'Rating':rating})

In [49]:
df = pd.DataFrame(odi_lis)
df

           Team Matches Points Rating
0     Australia      29  4,837    167
1       England      33  4,046    123
2  South Africa      35  4,157    119
3         India      32  3,219    101
4   New Zealand      31  3,019     97
5   West Indies      30  2,768     92
6    Bangladesh      12    930     78
7      Pakistan      30  1,962     65
8       Ireland       9    405     45
9     Sri Lanka      11    495     45

## b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [50]:
url = "https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"

In [51]:
re = requests.get(url)
re

In [52]:
soup = BeautifulSoup(re.content,'html.parser')

In [53]:
batting = soup.find('table').find_all('tr')

In [54]:
lis = []

for i ,val in enumerate(batting):
    if i ==0:
        continue
    if i == 11:
        break
        
    
    tds = val.find_all('td')
    player = tds[1].text.replace('\n','')
    team = tds[2].text.replace('\n','')
    point = tds[3].text.replace('\n','')
    lis.append({'Player':player,'Team':team,'Rating':point})

In [55]:
df = pd.DataFrame(lis)
df

                Player Team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2       Natalie Sciver  ENG    747
3      Laura Wolvaardt   SA    732
4          Meg Lanning  AUS    710
5       Rachael Haynes  AUS    701
6    Amy Satterthwaite   NZ    681
7       Tammy Beaumont  ENG    667
8  Chamari Athapaththu   SL    655
9      Smriti Mandhana  IND    649

## c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [56]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'

In [57]:
re = requests.get(url)
re

In [58]:
soup = BeautifulSoup(re.content, 'html.parser')

In [59]:
all_rounder = soup.find('table').find_all('tr')

In [60]:
lis = []

for i ,val in enumerate(all_rounder):
    if i ==0:
        continue
    if i == 11:
        break
        
    
    tds = val.find_all('td')
    player = tds[1].text.replace('\n','')
    team = tds[2].text.replace('\n','')
    point = tds[3].text.replace('\n','')
    lis.append({'Player':player,'Team':team,'Rating':point})

In [61]:
# Creating Dataframe
df = pd.DataFrame(lis)
df

             Player Team Rating
0    Natalie Sciver  ENG    379
1      Ellyse Perry  AUS    374
2    Marizanne Kapp   SA    349
3   Hayley Matthews   WI    339
4       Amelia Kerr   NZ    336
5  Ashleigh Gardner  AUS    270
6     Deepti Sharma  IND    252
7     Jess Jonassen  AUS    246
8   Katherine Brunt  ENG    220
9   Stafanie Taylor   WI    207

# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
#### i) Headline
#### ii) Time
#### iii) News Link

In [69]:
url = "https://www.cnbc.com/world/?region=world%20:-{}-intl/index.html"

In [70]:
html = requests.get(url)
html

In [71]:
soup = BeautifulSoup(html.content, 'html.parser')

In [72]:
# Scraping Headline
rank = []
for i in soup.find_all('a',class_='LatestNews-headline'):
    rank.append(i.text)

In [73]:
# Scraping Time
vi = []
for i in soup.find_all('span',{'class':'LatestNews-wrapper'}):
    vi.append(i.text)

In [76]:
# Scraping Url
pa_url = []
for link in soup.find_all('a', 
                          attrs={'href': re.compile("^https://")}):
      
    pa_url.append(link.get('href'))

In [77]:
b = pa_url[14:44]
b

['https://www.cnbc.com/2022/08/26/meta-horizon-vp-vivek-sharma-leaving.html',
 'https://www.cnbc.com/2022/08/26/meta-horizon-vp-vivek-sharma-leaving.html',
 'https://www.cnbc.com/2022/08/26/cnbc-in-5-minutes-all-the-buy-sell-and-hold-stock-calls-from-friday.html',
 'https://www.cnbc.com/2022/08/26/monkeypox-cdc-optimistic-outbreak-might-be-slowing-as-cases-fall-in-major-cities.html',
 'https://www.cnbc.com/2022/08/26/stocks-face-more-volatile-week-after-hawkish-fed-puts-focus-on-jobs.html',
 'https://www.cnbc.com/2022/08/26/google-pixel-6a-fingerprint-issue-my-friend-unlocked-my-phone.html',
 'https://www.cnbc.com/2022/08/26/investing-club-the-week-in-review-the-week-ahead-aug-26-2022.html',
 'https://www.cnbc.com/2022/08/26/student-loan-forgiveness-borrowers-could-see-relief-before-december.html',
 'https://www.cnbc.com/2022/08/26/arizona-senate-blake-masters-warned-to-raise-more-money-against-mark-kelly.html',
 'https://www.cnbc.com/2022/08/26/google-employees-frustrated-after-office-covid-outbreaks.html',
 'https://www.cnbc.com/2022/08/26/heres-how-bidens-student-loan-cancelation-affects-lenders-and-servicers.html',
 'https://www.cnbc.com/2022/08/26/dr-oz-sides-with-energy-after-he-received-donations-from-heads-of-oil-gas-business.html',
 'https://www.cnbc.com/2022/08/26/13-states-may-hit-borrowers-with-state-tax-liability-on-forgiven-student-loans.html',
 'https://www.cnbc.com/2022/08/26/pelotons-partnership-with-amazon-wont-resolve-demand-profitability-issues-.html',
 'https://www.cnbc.com/2022/08/26/secret-service-returns-fraudulent-pandemic-loans-to-small-business-administration.html',
 'https://www.cnbc.com/2022/08/26/4-takeaways-from-the-investing-clubs-morning-meeting-on-friday.html',
 'https://www.cnbc.com/2022/08/26/energy-is-the-big-winner-of-the-week-here-are-the-stocks-that-outperformed-and-what-analysts-think.html',
 'https://www.cnbc.com/2022/08/26/cramer-blame-wishful-thinking-for-fridays-market-swoon-not-fed-chief-jerome-powell.html',
 'https://www.cnbc.com/2022/08/26/stocks-making-the-biggest-moves-midday-affirm-electronic-arts-dell-seagen-and-more.html',
 'https://www.cnbc.com/2022/08/26/why-the-us-military-faces-a-growing-recruiting-crisis.html',
 'https://www.cnbc.com/2022/08/26/powells-speech-delivers-tough-lesson-to-markets-dont-fight-the-fed-.html',
 'https://www.cnbc.com/2022/08/26/iphone-gestures-and-hidden-menus.html',
 'https://www.cnbc.com/2022/08/26/investing-clubs-q2-2022-earnings-report-card.html',
 'https://www.cnbc.com/2022/08/26/read-trump-raid-search-warrant-affidavit.html',
 'https://www.cnbc.com/2022/08/26/brookings-long-covid-keeps-millions-of-americans-out-of-workforce.html',
 'https://www.cnbc.com/2022/08/26/these-stocks-could-be-winners-even-after-the-inflation-reduction-acts-1percent-tax-on-buybacks.html',
 'https://www.cnbc.com/2022/08/26/doj-reveals-redacted-affidavit-justifying-trump-mar-a-lago-raid.html',
 'https://www.cnbc.com/2022/08/26/scammers-leverage-student-loan-forgiveness-ftc-says-heres-how-to-protect-yourself.html',
 'https://www.cnbc.com/2022/08/26/more-details-emerge-about-biden-federal-student-debt-forgiveness-plan.html',
 'https://www.cnbc.com/2022/08/26/game-of-thrones-hbo-renews-house-of-the-dragon-for-season-2.html']

In [78]:
# Creating DataFrame
data = list(zip(rank,vi,b))
df = pd.DataFrame(data, columns=['Headline','Time','News Link'])
df

,Headline,Time,News Link
0,A key leader for Meta's metaverse software is ...,11 Hours Ago,https://www.cnbc.com/2022/08/26/meta-horizon-v...
1,"CNBC in 5 minutes: All the buy, sell and hold ...",12 Hours Ago,https://www.cnbc.com/2022/08/26/meta-horizon-v...
2,CDC cautiously optimistic monkeypox outbreak m...,12 Hours Ago,https://www.cnbc.com/2022/08/26/cnbc-in-5-minu...
3,What to watch in the markets in the week ahead,13 Hours Ago,https://www.cnbc.com/2022/08/26/monkeypox-cdc-...
4,My friend was able to unlock my new Google pho...,13 Hours Ago,https://www.cnbc.com/2022/08/26/stocks-face-mo...
5,"Investing Club: The week in review, the week a...",13 Hours Ago,https://www.cnbc.com/2022/08/26/google-pixel-6...
6,Student loan forgiveness: It could take 'sever...,13 Hours Ago,https://www.cnbc.com/2022/08/26/investing-club...
7,GOP warns Arizona Senate hopeful Masters to ra...,14 Hours Ago,https://www.cnbc.com/2022/08/26/student-loan-f...
8,Google employees frustrated by Covid outbreaks...,14 Hours Ago,https://www.cnbc.com/2022/08/26/arizona-senate...
9,Here's how Biden's student loan cancellation a...,14 Hours Ago,https://www.cnbc.com/2022/08/26/google-employe...
10,"Dr. Oz defends energy industry, which has boos...",15 Hours Ago,https://www.cnbc.com/2022/08/26/heres-how-bide...
11,These 13 states may tax student loan forgiveness,15 Hours Ago,https://www.cnbc.com/2022/08/26/dr-oz-sides-wi...
12,Why Peloton's partnership with Amazon won't re...,15 Hours Ago,https://www.cnbc.com/2022/08/26/13-states-may-...
13,Secret Service returns $286 million in fraudul...,15 Hours Ago,https://www.cnbc.com/2022/08/26/pelotons-partn...
14,4 Takeaways from the Investing Club’s ‘Morning...,15 Hours Ago,https://www.cnbc.com/2022/08/26/secret-service...
15,Energy is the big winner of the week. Here are...,15 Hours Ago,https://www.cnbc.com/2022/08/26/4-takeaways-fr...
16,Cramer: Blame wishful thinking for Friday's ma...,15 Hours Ago,https://www.cnbc.com/2022/08/26/energy-is-the-...
17,Stocks making the biggest moves midday: Affirm...,16 Hours Ago,https://www.cnbc.com/2022/08/26/cramer-blame-w...
18,Why the U.S. military faces a growing recruiti...,16 Hours Ago,https://www.cnbc.com/2022/08/26/stocks-making-...
19,Powell's speech delivers tough lesson to marke...,16 Hours Ago,https://www.cnbc.com/2022/08/26/why-the-us-mil...
20,There are a bunch of hidden menus on your iPho...,16 Hours Ago,https://www.cnbc.com/2022/08/26/powells-speech...
21,Here's our second-quarter earnings report card...,16 Hours Ago,https://www.cnbc.com/2022/08/26/iphone-gesture...
22,Read the redacted document justifying the Trum...,17 Hours Ago,https://www.cnbc.com/2022/08/26/investing-club...
23,Long Covid could be responsible for about a th...,17 Hours Ago,https://www.cnbc.com/2022/08/26/read-trump-rai...
24,Picking stock winners from the Inflation Reduc...,17 Hours Ago,https://www.cnbc.com/2022/08/26/brookings-long...
25,DOJ reveals redacted affidavit justifying Trum...,17 Hours Ago,https://www.cnbc.com/2022/08/26/these-stocks-c...
26,Scammers are using student loan forgiveness as...,17 Hours Ago,https://www.cnbc.com/2022/08/26/doj-reveals-re...
27,More details emerge about Biden federal studen...,18 Hours Ago,https://www.cnbc.com/2022/08/26/scammers-lever...
28,HBO's 'Game of Thrones' prequel gets season 2 ...,18 Hours Ago,https://www.cnbc.com/2022/08/26/more-details-e...
29,"We're again reducing our energy exposure, trim...",18 Hours Ago,https://www.cnbc.com/2022/08/26/game-of-throne...

## 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
### Scrape below mentioned details :
#### i) Paper Title
#### ii) Authors
#### iii) Published Date
#### iv) Paper URL

In [40]:
# URL link
url = "https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"

In [41]:
# Seeking Request
html = requests.get(url)
html

In [42]:
# Assign Soup
soup = BeautifulSoup(html.content, 'html.parser')

In [44]:
# Scraping Paper title
title =[]
for link in soup.find_all('h2'):
    title.append(link.text)

In [45]:
# Scraping Authors name
aur = []
for link in soup.find_all('span',{'class':'sc-1w3fpd7-0 pgLAT'}):
    aur.append(link.text)

In [46]:
# Publication date
pub_date = []
for link in soup.find_all('span',{'class':'sc-1thf9ly-2 bKddwo'}):
    pub_date.append(link.text)

In [50]:
# url
import re
  
pa_url = []
for link in soup.find_all('a', 
                          attrs={'href': re.compile("^https://")}):
      
    pa_url.append(link.get('href'))

In [51]:
a = (pa_url)[50:75]

In [53]:
# Creating dataframe
data = list(zip(title,aur,pub_date,a))
df = pd.DataFrame(data, columns=['Paper Title','Authors','Publication date','Paper URL'])
df

,Paper Title,Authors,Publication date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

## 9) Write a python program to scrape mentioned details from dineout.co.in :
#### i) Restaurant name
#### ii) Cuisine
#### iii) Location
#### iv) Ratings
#### v) Image URL

In [89]:
URL = "https://www.dineout.co.in/delhi-restaurants/buffet-special"
re = requests.get(URL)
re

In [90]:
restro_name = []
for i in soup.find_all('div',{'class':'restnt-info cursor'}):
    restro_name.append(i.text)

In [91]:
restro_name

['Castle BarbequeConnaught Place, Central Delhi',
 'Jungle Jamboree3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Castle BarbequePacific Mall,Tagore Garden, West Delhi',
 'Cafe KnoshThe Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'The Barbeque CompanyGardens Galleria,Sector 38A, Noida',
 'India GrillHilton Garden Inn,Saket, South Delhi',
 'Delhi BarbequeTaurus Sarovar Portico,Mahipalpur, South Delhi',
 'The Monarch - Bar Be Que VillageIndirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Indian Grill RoomSuncity Business Tower,Golf Course Road, Gurgaon']

In [92]:
cuisines = []
for i in soup.find_all('span',{'class':('double-line-ellipsis')}):
    
    cuisines.append(i.text.replace('for 2 (approx) |',''))

In [93]:
rating = []
for i in soup.find_all('div',{'class':'restnt-rating rating-4'}):
    rating.append(i.text)

In [94]:
location = []
for i in soup.find_all('div',{'class':'restnt-loc ellipsis'}):
    location.append(i.text)

In [95]:
soup = BeautifulSoup(re.text, 'html.parser')
 
images = soup.find_all('img')
#print(images)

In [96]:
img = []
 
for image in images:
    img.append(image.get('src'))

In [97]:
del img[2:26]

In [98]:
del img[1:3]

In [99]:
data = list(zip(restro_name,cuisines,location,rating,img))
df = pd.DataFrame(data,columns=['Name','Cuisines','Location','Rating','Images'])
df

,Name,Cuisines,Location,Rating,Images
0,"Castle BarbequeConnaught Place, Central Delhi","₹ 2,000 Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/misc/...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","₹ 1,680 North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/misc/...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","₹ 2,000 Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/misc/...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","₹ 3,000 Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://www.facebook.com/tr?id=596761190430600...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","₹ 1,700 North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,http://b.scorecardresearch.com/p?c1=2&c2=60364...
5,"India GrillHilton Garden Inn,Saket, South Delhi","₹ 2,400 North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/misc/...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...","₹ 1,800 North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://sp.analytics.yahoo.com/spp.pl?a=10000&...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,"₹ 1,900 North Indian","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,//googleads.g.doubleclick.net/pagead/viewthrou...

## 10) Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en
#### i) Rank
#### ii) Publication
#### iii) h5-index
 #### iv) h5-median

In [6]:
url = "https://scholar.google.com/citations?view_op=top_venues&hl=en"

In [7]:
re = requests.get(url)
re

In [21]:
soup = BeautifulSoup(re.content, 'html.parser')

In [22]:
# creating empty lists
rank = []
publication = []
h5_index = []
h5_median = []

In [23]:
# Scraping Rank
for i in soup.find_all('td',class_="gsc_mvt_p"):
    rank.append(i.text)

In [27]:
# Scraping for publication
for i in soup.find_all('td',class_="gsc_mvt_t"):
    publication.append(i.text)

In [29]:
# Scraping h5_index
for i in soup.find_all('td',class_="gsc_mvt_n"):
    h5_index.append(i.text)

In [30]:
# Scraping h5_median
for i in soup.find_all('td',class_="gsc_mvt_n"):
    h5_median.append(i.text)

In [31]:
# Creating dataframe
data = list(zip(rank,publication,h5_index,h5_median))
df = pd.DataFrame(data, columns=['Rank','Publication','h5-Index','h5-Median'])
df

    Rank                                        Publication h5-Index h5-Median
0     1.                                             Nature      444       444
1     2.                The New England Journal of Medicine      667       667
2     3.                                            Science      432       432
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      780       780
4     5.                                         The Lancet      401       401
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      296       296
96   97.                                   Molecular Cancer      173       173
97   98.                                            Sensors      228       228
98   99.                              Nature Climate Change      173       173
99  100.                    IEEE Internet of Things Journal      217       217

[100 rows x 4 columns]