In [2]:
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import requests
import selenium
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException,InvalidArgumentException,InvalidArgumentException

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

#### You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [3]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [4]:
time.sleep(2)
#scraping names of the video
name=[]
try:
    names=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('-')

In [5]:
name[0:5]

['"Baby Shark Dance"[3]',
 '"Despacito"[6]',
 '"Johny Johny Yes Papa"[12]',
 '"Shape of You"[13]',
 '"See You Again"[15]']

In [6]:
time.sleep(2)    
#scraping rank of the video
rank=[]
try:
    ranks=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    rank.append('-')

In [7]:
rank[0:5]

['1.', '2.', '3.', '4.', '5.']

In [8]:
time.sleep(2)
#scraping artist/uploader of the video
artist=[]
try:
    artists=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        artist.append(i.text)
except NoSuchElementException:#handling no such element exception
    artist.append('-')

In [9]:
artist[0:5]

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Ed Sheeran',
 'Wiz Khalifa']

In [10]:
#scraping views of the video
time.sleep(2)    
views=[]
try:
    views_list=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in views_list:
        views.append(i.text)
except NoSuchElementException:
    views.append('-')

In [11]:
views[0:5]

['11.40', '7.98', '6.47', '5.81', '5.64']

In [12]:
time.sleep(2)    
#scraping views of the video
upload_date=[]
try:
    upload_date_list=driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_date_list:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append('-')

In [13]:
upload_date[0:5]

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015']

In [14]:
df=pd.DataFrame({"Rank":rank,
                 "Name":name,
                "Uploader/artist":artist,
                "Date of upload":upload_date,
                "Views(in billion)":views})
df

,Rank,Name,Uploader/artist,Date of upload,Views(in billion)
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.40
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.98
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.47
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.81
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.64
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.63
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.90
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.70
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.65
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.55
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.40
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.07
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.76
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.66
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.65
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.59
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.52
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.50
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.38
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.35
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.34
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.30
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.27
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.26
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.26
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.25
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.21
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.17

### 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
#### You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
#### Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [15]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [16]:
url = "https://www.bcci.tv/"
driver.get(url)

In [17]:
# Click on international
search = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
search.click()

In [18]:
# Scraping Match title
match_title=[]
try:
    match_list=driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope']")
    for i in match_list:
        match_title.append(i.text)
except NoSuchElementException:
    match_title.append('')

In [19]:
match_title

['1st T20I -',
 '2nd T20I -',
 '2nd T20I -',
 '3rd T20I -',
 '3rd T20I -',
 '1st ODI -',
 '4th T20I -',
 '5th T20I -']

In [20]:
# Scraping Series name
series=[]
try:
    series_list=driver.find_elements(By.XPATH,"//span[@class='ng-binding']")
    for i in series_list:
        series.append(i.text)
except NoSuchElementException:
    series.append('')

In [21]:
series

['ASIA CUP WOMENS 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23',
 'ASIA CUP WOMENS 2022',
 'ASIA CUP WOMENS 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23',
 'SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23',
 'ASIA CUP WOMENS 2022',
 'ASIA CUP WOMENS 2022']

In [22]:
# Scraping place
place=[]
try:
    place_list=driver.find_elements(By.XPATH,"//span[@class='ng-binding ng-scope']")
    for i in place_list:
        place.append(i.text)
except NoSuchElementException:
    place.append('')

In [23]:
place

['Sylhet Outer Cricket Stadium,',
 'Barsapara Cricket Stadium,',
 'Sylhet Outer Cricket Stadium,',
 'Sylhet Outer Cricket Stadium,',
 'Holkar Cricket Stadium,',
 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium,',
 'Sylhet International Cricket Stadium,',
 'Sylhet International Cricket Stadium,']

In [24]:
# Scraping date
date=[]
try:
    date_list=driver.find_elements(By.XPATH,"//h5[@class='ng-binding']")
    for i in date_list:
        date.append(i.text)
except NoSuchElementException:
    date.append('')

In [25]:
date

['1 OCT 2022',
 '2 OCT 2022',
 '3 OCT 2022',
 '4 OCT 2022',
 '4 OCT 2022',
 '6 OCT 2022',
 '7 OCT 2022',
 '8 OCT 2022']

In [26]:
# Scraping time
time=[]
try:
    time_list=driver.find_elements(By.XPATH,"//h5[@class='text-right ng-binding']")
    for i in time_list:
        time.append(i.text)
except NoSuchElementException:
    time.append('')

In [27]:
time

['1:00 PM IST',
 '7:00 PM IST',
 '1:00 PM IST',
 '1:00 PM IST',
 '7:00 PM IST',
 '1:30 PM IST',
 '1:00 PM IST',
 '1:00 PM IST']

In [28]:
# Making DataFrame
df=pd.DataFrame({"Match Title":match_title,
                 "Series":series,
                "Place":place,
                "Date":date,
                "Time":time})
df

,Match Title,Series,Place,Date,Time
0,1st T20I -,ASIA CUP WOMENS 2022,"Sylhet Outer Cricket Stadium,",1 OCT 2022,1:00 PM IST
1,2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,"Barsapara Cricket Stadium,",2 OCT 2022,7:00 PM IST
2,2nd T20I -,ASIA CUP WOMENS 2022,"Sylhet Outer Cricket Stadium,",3 OCT 2022,1:00 PM IST
3,3rd T20I -,ASIA CUP WOMENS 2022,"Sylhet Outer Cricket Stadium,",4 OCT 2022,1:00 PM IST
4,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,"Holkar Cricket Stadium,",4 OCT 2022,7:00 PM IST
5,1st ODI -,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,6 OCT 2022,1:30 PM IST
6,4th T20I -,ASIA CUP WOMENS 2022,"Sylhet International Cricket Stadium,",7 OCT 2022,1:00 PM IST
7,5th T20I -,ASIA CUP WOMENS 2022,"Sylhet International Cricket Stadium,",8 OCT 2022,1:00 PM IST

### 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
#### You need to find following details:
A) Name
B) Description
#### Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [29]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [30]:
# Opening the guru99.com
url = "https://www.guru99.com/"
driver.get(url)

In [31]:
#clicking on selenium option under testing menu open its tutorial
search = driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a')
search.click()

In [32]:
#clicking on Selenium Exception Handling (Common Exceptions List) under Advance Webdriver Stuff!
exception_handle_link=driver.find_element(By.XPATH,"//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handle_link.click()
except ElementNotInteractableException:    
    driver.get(exception_handle_link.get_attribute('href'))

In [33]:
#scraping exceptions names
name=[]
try:
    names=driver.find_elements(By.XPATH,"//strong")
    for i in names[1:]:
        name.append(i.text)
except NoSuchElementException:               
    name.append('-')

In [34]:
Name =name[1:42]

In [35]:
len(Name)

41

In [37]:
#scraping exceptions Description
des=[]
try:
    names=driver.find_elements(By.XPATH,"//p")
    for i in names[1:]:
        des.append(i.text)
except NoSuchElementException:               
    des.append('-')

In [40]:
de = des[1:42]

In [42]:
decs = []
for i in de:
    i.split(':')
    c=i.split(':')
    d = c[1]
    decs.append(d)

In [46]:
decs[0:5]

[' This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 ' This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 ' This Exception occurs if an element could not be found.',
 ' This Exception occurs if the frame target to be switched to does not exist.',
 ' This Exception occurs when you switch to no presented alert.']

In [44]:
len(decs)

41

In [45]:
# Making DataFrame
df=pd.DataFrame({"Exception Name":Name, 'Description':decs})
df

,Exception Name,Description
0,1. ElementNotVisibleException:,This type of Selenium exception occurs when a...
1,2. ElementNotSelectableException:,This Selenium exception occurs when an elemen...
2,3. NoSuchElementException:,This Exception occurs if an element could not...
3,4. NoSuchFrameException:,This Exception occurs if the frame target to ...
4,5. NoAlertPresentException:,This Exception occurs when you switch to no p...
5,6. NoSuchWindowException:,This Exception occurs if the window target to...
6,7. StaleElementReferenceException:,This Selenium exception occurs happens when t...
7,8. SessionNotFoundException:,The WebDriver is acting after you quit the br...
8,9. TimeoutException:,Thrown when there is not enough time for a co...
9,10. WebDriverException:,This Exception takes place when the WebDriver...
10,11. ConnectionClosedException:,This type of Exception takes place when there...
11,12. ElementClickInterceptedException:,The command may not be completed as the eleme...
12,13. ElementNotInteractableException:,This Selenium exception is thrown when any el...
13,14. ErrorInResponseException:,This happens while interacting with the Firef...
14,15. ErrorHandler.UnknownServerException:,Exception is used as a placeholder in case if...
15,16. ImeActivationFailedException:,This expectation will occur when IME engine a...
16,17. ImeNotAvailableException:,It takes place when IME support is unavailable.
17,18. InsecureCertificateException:,Navigation made the user agent to hit a certi...
18,19. InvalidArgumentException:,It occurs when an argument does not belong to...
19,20. InvalidCookieDomainException:,This happens when you try to add a cookie und...
20,21. InvalidCoordinatesException:,This type of Exception matches an interacting...
21,22. InvalidElementStateException:,It occurs when command can’t be finished when...
22,23. InvalidSessionIdException:,This Exception took place when the given sess...
23,24. InvalidSwitchToTargetException:,This occurs when the frame or window target t...
24,25. JavascriptException:,This issue occurs while executing JavaScript ...
25,26. JsonException:,It occurs when you afford to get the session ...
26,27. NoSuchAttributeException:,This kind of Exception occurs when the attrib...
27,28. MoveTargetOutOfBoundsException:,It takes place if the target provided to the ...
28,29. NoSuchContextException:,ContextAware does mobile device testing.
29,30. NoSuchCookieException:,This Exception occurs when no cookie matching...
30,31. NotFoundException:,This Exception is a subclass of WebDriverExce...
31,32. RemoteDriverServerException:,This Selenium exception is thrown when the se...
32,33. ScreenshotException:,It is not possible to capture a screen.
33,34. SessionNotCreatedException:,It happens when a new session could not be su...
34,35. UnableToSetCookieException:,This occurs if a driver is unable to set a co...
35,36. UnexpectedTagNameException:,Happens if a support class did not get a web ...
36,37. UnhandledAlertException:,This expectation occurs when there is an aler...
37,38. UnexpectedAlertPresentException:,It occurs when there is the appearance of an ...
38,39. UnknownMethodException:,This Exception happens when the requested com...
39,40. UnreachableBrowserException:,This Exception occurs only when the browser i...
40,41. UnsupportedCommandException:,This occurs when remote WebDriver doesn’t sen...

### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
#### You have to find following details:
A) Rank
B) State
C) GSDP(19-20)
D) GSDP(18-19)
E) Share(18-19)
F) GDP($ billion)
#### Note: - From statisticstimes home page you have to reach to economy page through code.

In [47]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [48]:
# Opening the statisticstimes.com
url = "http://statisticstimes.com/"
driver.get(url)

In [49]:
#clicking on economy button
economy=driver.find_element(By.XPATH,"//div[@class='dropdown'][2]/div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [50]:
#clicking on gdp of indian states
indian_states=driver.find_element(By.XPATH,"//ul[@style='list-style-type:none;margin-left:20px;']//li[1]/a")

try:
    indian_states.click()
except ElementNotInteractableException:
    driver.get(indian_states.get_attribute('href'))

In [51]:
#scraping rank
rank=[]
try:
    ranks=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:                 
    rank.append('-')

In [52]:
rank[0:5]

['1', '2', '3', '4', '5']

In [53]:
#scraping States
State=[]
try:
    states=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
    for i in states:
        State.append(i.text)
except NoSuchElementException:                 
    State.append('-')

In [54]:
State[0:5]

['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Gujarat', 'Karnataka']

In [55]:
#scraping GSDP(19-20)
GSDP_20=[]
try:
    info=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
    for i in info:
        GSDP_20.append(i.text)
except NoSuchElementException:           
    GSDP_20.append('')

In [56]:
GSDP_20[0:5]

['-', '1,845,853', '1,687,818', '-', '1,631,977']

In [57]:
#scraping GSDP(18-19)
GSDP_19=[]
try:
    info=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
    for i in info:
        GSDP_19.append(i.text)
except NoSuchElementException:        
    GSDP_19.append('-')

In [58]:
GSDP_19[0:5]

['2,632,792', '1,630,208', '1,584,764', '1,502,899', '1,493,127']

In [59]:
#scraping share (18-19)
share=[]
try:
    info=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
    for i in info:
        share.append(i.text)
except NoSuchElementException:          
    share.append('-')

In [60]:
share[0:5]

['13.94%', '8.63%', '8.39%', '7.96%', '7.91%']

In [61]:
#scraping GDP(billion$)
GDP_billion=[]
try:
    info=driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
    for i in info:
        GDP_billion.append(i.text)
except NoSuchElementException:          
    GDP_billion.append('-')

In [62]:
GDP_billion[0:5]

['399.921', '247.629', '240.726', '228.290', '226.806']

In [63]:
#creatng dataframe
df=pd.DataFrame({'Rank':rank,
                'State':State,
                'GSDP(19-20)':GSDP_20,
                'GSDP(18-19)':GSDP_19,
                'Share(18-19)':share,
                'GDP(Billion_$)':GDP_billion})
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(18-19),GDP(Billion_$)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
#### You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
#### Note: - From the home page you have to click on the trending option from Explore menu through code

In [96]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [98]:
# Opening the github
url = "https://github.com/"
driver.get(url)

In [99]:
#clicking on trending button
trending=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a")
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [104]:
# making empty lists    
repo_urls=[]
Contributors_count=[]
Language_used=[]
repo_title=[]
repo_desc=[]

In [105]:
#scraping repositories urls
repos=driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']/a")
for i in repos:
    repo_urls.append(i.get_attribute('href'))

In [106]:
repo_urls

['https://github.com/cloudflare/workerd',
 'https://github.com/cypress-io/cypress',
 'https://github.com/Developer-Y/cs-video-courses',
 'https://github.com/nifanfa/MOOS',
 'https://github.com/Taiga74164/Akebi-GC',
 'https://github.com/optiv/Freeze',
 'https://github.com/Cysharp/MemoryPack',
 'https://github.com/DataTalksClub/data-engineering-zoomcamp',
 'https://github.com/firstcontributions/first-contributions',
 'https://github.com/anaer/Sub',
 'https://github.com/pytorch/pytorch',
 'https://github.com/acantril/learn-cantrill-io-labs',
 'https://github.com/Ebazhanov/linkedin-skill-assessments-quizzes',
 'https://github.com/MaaAssistantArknights/MaaAssistantArknights',
 'https://github.com/google/googletest',
 'https://github.com/karanpratapsingh/system-design',
 'https://github.com/Asabeneh/30-Days-Of-Python',
 'https://github.com/total-typescript/beginners-typescript-tutorial',
 'https://github.com/XavierXiao/Dreambooth-Stable-Diffusion',
 'https://github.com/Asabeneh/30-Days-Of-JavaScript',
 'https://github.com/AUTOMATIC1111/stable-diffusion-webui',
 'https://github.com/https-deeplearning-ai/machine-learning-engineering-for-production-public',
 'https://github.com/towhee-io/towhee',
 'https://github.com/a1phaboy/FastjsonScan',
 'https://github.com/apache/echarts']

In [107]:
del repo_urls[4]

In [108]:
len(repo_urls)

24

In [109]:
repo_urls

['https://github.com/cloudflare/workerd',
 'https://github.com/cypress-io/cypress',
 'https://github.com/Developer-Y/cs-video-courses',
 'https://github.com/nifanfa/MOOS',
 'https://github.com/optiv/Freeze',
 'https://github.com/Cysharp/MemoryPack',
 'https://github.com/DataTalksClub/data-engineering-zoomcamp',
 'https://github.com/firstcontributions/first-contributions',
 'https://github.com/anaer/Sub',
 'https://github.com/pytorch/pytorch',
 'https://github.com/acantril/learn-cantrill-io-labs',
 'https://github.com/Ebazhanov/linkedin-skill-assessments-quizzes',
 'https://github.com/MaaAssistantArknights/MaaAssistantArknights',
 'https://github.com/google/googletest',
 'https://github.com/karanpratapsingh/system-design',
 'https://github.com/Asabeneh/30-Days-Of-Python',
 'https://github.com/total-typescript/beginners-typescript-tutorial',
 'https://github.com/XavierXiao/Dreambooth-Stable-Diffusion',
 'https://github.com/Asabeneh/30-Days-Of-JavaScript',
 'https://github.com/AUTOMATIC1111/stable-diffusion-webui',
 'https://github.com/https-deeplearning-ai/machine-learning-engineering-for-production-public',
 'https://github.com/towhee-io/towhee',
 'https://github.com/a1phaboy/FastjsonScan',
 'https://github.com/apache/echarts']

In [110]:
#scraping repositories title
repo_title=[]
try:
    repos=driver.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']")
    for i in repos:
        repo_title.append(i.text)
except NoSuchElementException:
    repo_title.append('-')

In [121]:
del repo_title[4]

In [123]:
len(repo_title)

24

In [113]:
for i in repo_urls:
    driver.get(i)
    l=[]
    
    #scraping repositories discription
    try:
        repo = driver.find_element(By.XPATH,"/html/body/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[1]/readme-toc/div/div[2]/article/p[1]")
        repo_desc.append(repo.text)
    except NoSuchElementException:
        repo_desc.append('-')
    
    #scraping contributors count
    try:
        count=driver.find_element(By.XPATH,"//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:
        Contributors_count.append('-')
    
    
     #scraping languages used   
    languages=driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
    if languages:    
        for i in languages:
            l.append(i.text)
    else:
        l.append('No languages used')
    Language_used.append(l)

In [115]:
len(Language_used)

24

In [117]:
len(Contributors_count)

24

In [119]:
len(repo_desc)

24

In [124]:
#creating dataframe
df=pd.DataFrame({'Title':repo_title,
                'Description':repo_desc,
                'Contributors_count':Contributors_count,
                'Language_used':Language_used})
df

,Title,Description,Contributors_count,Language_used
0,cloudflare / workerd,,29,"[C++, Starlark, Cap'n Proto, TypeScript, Rust,..."
1,cypress-io / cypress,,394,"[JavaScript, TypeScript, Vue, HTML, SCSS, CSS]"
2,Developer-Y / cs-video-courses,Table of Contents,69,[No languages used]
3,nifanfa / MOOS,,6,"[C#, C, C++, Assembly, Shell, Batchfile]"
4,optiv / Freeze,If you want to learn more about the techniques...,-,[Go]
5,Cysharp / MemoryPack,,5,[C#]
6,DataTalksClub / data-engineering-zoomcamp,,39,"[Jupyter Notebook, Python, Dockerfile]"
7,firstcontributions / first-contributions,,"2,576",[No languages used]
8,anaer / Sub,,-,[JavaScript]
9,pytorch / pytorch,,"2,454","[C++, Python, Cuda, C, Objective-C++, CMake]"
10,acantril / learn-cantrill-io-labs,,21,"[Python, Shell]"
11,Ebazhanov / linkedin-skill-assessments-quizzes,,"1,085",[No languages used]
12,MaaAssistantArknights / MaaAssistantArknights,话不多说，看图！,57,"[C++, C#, C, Python, TypeScript, Rust]"
13,google / googletest,GoogleTest now follows the Abseil Live at Head...,369,"[C++, Python, CMake]"
14,karanpratapsingh / system-design,"Hey, welcome to the course. I hope this course...",5,[No languages used]
15,Asabeneh / 30-Days-Of-Python,🧡🧡🧡 HAPPY CODING 🧡🧡🧡,7,"[Python, CSS, HTML]"
16,total-typescript / beginners-typescript-tutorial,,12,"[TypeScript, JavaScript]"
17,XavierXiao / Dreambooth-Stable-Diffusion,This is an implementtaion of Google's Dreamboo...,-,"[Jupyter Notebook, Python, Shell]"
18,Asabeneh / 30-Days-Of-JavaScript,🧡🧡🧡 HAPPY CODING 🧡🧡🧡,31,"[JavaScript, HTML]"
19,AUTOMATIC1111 / stable-diffusion-webui,A browser interface based on Gradio library fo...,82,"[Python, JavaScript, CSS, Shell, Batchfile]"
20,https-deeplearning-ai / machine-learning-engin...,-,3,[Jupyter Notebook]
21,towhee-io / towhee,,29,[Python]
22,a1phaboy / FastjsonScan,,-,[Go]
23,apache / echarts,"Apache ECharts is a free, powerful charting an...",176,"[TypeScript, JavaScript]"

### 6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
#### You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
#### Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [153]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [154]:
# Opening the billboard
url = "https://www.billboard.com/"
driver.get(url)

In [156]:
# Click om music button
search = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[2]/a')
search.click()

In [157]:
# Click on hot 100
search = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
search.click()

In [158]:
#scraping song names
song_name=[]
try:
    names=driver.find_elements(By.XPATH,"//h3[@id='title-of-a-story']")
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:       
    song_name.append('-')

In [159]:
len(song_name)

419

In [161]:
#removing empty string values from song_name
while('' in song_name):  
    song_name.remove('')

In [174]:
song = song_name[1:100]

In [175]:
len(song)

99

In [176]:
song[0:5]

['Bad Habit',
 'I Like You (A Happier Song)',
 'Sunroof',
 'Super Freaky Girl',
 'You Proof']

In [177]:
#scraping artist names
artist_name=[]
try:
    names=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
    for i in names:
        artist_name.append(i.text)
except NoSuchElementException:       
    artist_name.append('-')

In [178]:
len(artist_name)

99

In [179]:
artist_name[0:5]

['Steve Lacy',
 'Post Malone Featuring Doja Cat',
 'Nicky Youre & dazy',
 'Nicki Minaj',
 'Morgan Wallen']

In [180]:
#scraping last week rank
last_week_rank=[]
try:
    ranks=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
    for i in ranks:
        last_week_rank.append(i.text)
except NoSuchElementException:        
    last_week_rank.append('-')

In [181]:
len(last_week_rank)

594

In [182]:
#removing empty string values from last week rank
while('' in last_week_rank):  
    last_week_rank.remove('')

In [183]:
len(last_week_rank)

297

In [184]:
last_rank = last_week_rank[0::3]

In [185]:
last_rank[0:5]

['2', '5', '4', '3', '6']

In [189]:
len(last_rank)

99

In [186]:
peak_rank = last_week_rank[1::3]

In [187]:
peak_rank[0:5]

['2', '3', '4', '1', '6']

In [188]:
len(peak_rank)

99

In [190]:
week = last_week_rank[2::3]

In [191]:
week[0:5]

['12', '16', '17', '6', '19']

In [192]:
len(week)

99

In [193]:
#creating dataframe
df=pd.DataFrame({'Song Name': song,
                'Artist Name': artist_name,
                'Last Week Rank': last_rank,
                'Peak Rank': peak,
               'Week On Chart':week})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Week On Chart
0,Bad Habit,Steve Lacy,2,2,12
1,I Like You (A Happier Song),Post Malone Featuring Doja Cat,5,2,16
2,Sunroof,Nicky Youre & dazy,4,12,17
3,Super Freaky Girl,Nicki Minaj,3,5,6
4,You Proof,Morgan Wallen,6,3,19
...,...,...,...,...,...
94,Thought You Should Know,Morgan Wallen,98,30,20
95,Where It Ends,Bailey Zimmerman,93,11,5
96,Backstage Passes,EST Gee Featuring Jack Harlow,-,45,1
97,Snap,Rosa Linn,97,34,4
98,Beat The Odds,Lil Tjay,91,3,4

### 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
### You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
#### Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [194]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [195]:
url='https://www.naukri.com/hr-recruiters-consultants'

In [196]:
# Opening the naukri.com
driver.get(url)

In [197]:
#accesing search bar
search=driver.find_element(By.XPATH,"//input[@class='sugInp']")
search.send_keys("Data Science")

In [198]:
#clicking on search button
button=driver.find_element(By.XPATH,"//button[@id='qsbFormBtn']")
button.click()

In [199]:
#scrapping names
name=[]
try:
    names=driver.find_elements(By.XPATH,"//div[@class='recInfo']/div/p/a[1]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:           
    name.append('-')

In [200]:
len(name)

50

In [201]:
#scrapping designation
designation=[]
try:
    designation_list=driver.find_elements(By.XPATH,"//div[@class='recInfo']/div/p/span[1]")
    for i in designation_list:
        designation.append(i.text)
except NoSuchElementException:        
    designation.append('-')

In [202]:
len(designation)

50

In [203]:
#scrapping company names
company=[]
try:
    companies=driver.find_elements(By.XPATH,"//div[@class='recInfo']/div/p/a[2]")
    for i in companies:
        company.append(i.text)
except NoSuchElementException:
    company.append('-')

In [204]:
len(company)

50

In [205]:
from bs4 import BeautifulSoup

In [206]:
#scrapping location names
location=[]
soup=BeautifulSoup(driver.page_source,'html.parser')
l=soup.find_all('div',attrs={'vcard'})
for i in l:
    try:
        location.append(i.find('small').text)
    except AttributeError :
        location.append("No details available")

In [207]:
len(location)

50

In [208]:
#skills they hire for
skill=[]
try:
    skills=driver.find_elements(By.XPATH,"//div[@class='recInfo']/div[2]")
    for i in skills:
        skill.append(i.text)
except NoSuchElementException:        
    skill.append('-')

In [209]:
len(skill)

50

In [210]:
#creating dataframe
df=pd.DataFrame({'Name':name,
                'Designation':designation,
                'Company':company,
                "Location":location,
                'Skills I hire':skill})
df

,Name,Designation,Company,Location,Skills I hire
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,Hyderabad,"Oracle Dba, Data Science, Data Warehousing, ET..."
11,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
12,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,Mumbai,"Data Science, Python, Data Analytics"
15,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
16,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,Chandigarh,"React.js, Data Science, Java, Front End, Busin..."
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
19,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
28,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,No details available,"Signal Processing, Machine Learning, Neural Ne..."
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
33,Avodha,Business Development Associate,Nikitha Palaparthi,Hyderabad / Secunderabad,"Ethical Hacking, Security Operations Center, S..."
34,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
35,Amit Sharma,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
36,Kanan,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
41,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
44,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
46,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
47,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
48,Amir Chowdhury,Managing Partner,Granular.ai,No details available,"Machine Learning, Data Science, Product Manage..."
49,Daniel Vaz,Partner,Aquis Search,Mumbai,"c++, Core Java, kdb, high frequency trading, h..."

### 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
#### You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [3]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [4]:
# Opening the theguardian.com
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [5]:
#scrapping all details table
table=[]
try:
    names=driver.find_elements(By.XPATH,"//td[@class='left']")
    for i in names:
        table.append(i.text)
except NoSuchElementException:              
    table.append('-')

In [6]:
table

['1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark',
 '1,979,552',
 'Random House',
 '21',
 'Digital Fortress',
 'Brown, Dan',
 '1,928,900',
 'Transworld',
 '22',
 'Short History of Nearly Everything,A',
 'Bryson, Bill',
 '1,852,919',
 'Transworld',
 '23',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Larsson, Stieg',
 '1,814,784',
 'Quercus',
 '24',
 'Breaking Dawn',
 'Meyer, Stephenie',
 '1,787,118',
 'Little, Brown Book',
 '25',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Carle, Eric',
 '1,783,535',
 'Penguin',
 '26',
 'Gruffalo,The',
 'Donaldson, Julia',
 '1,781,269',
 'Pan Macmillan',
 '27',
 "Jamie's 30-Minute Meals",
 'Oliver, Jamie',
 '1,743,266',
 'Penguin',
 '28',
 'Kite Runner,The',
 'Hosseini, Khaled',
 '1,629,119',
 'Bloomsbury',
 '29',
 'One Day',
 'Nicholls, David',
 '1,616,068',
 'Hodder & Stoughton',
 '30',
 'Thousand Splendid Suns,A',
 'Hosseini, Khaled',
 '1,583,992',
 'Bloomsbury',
 '31',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 'Larsson, Stieg',
 '1,555,135',
 'Quercus',
 '32',
 "Time Traveler's Wife,The",
 'Niffenegger, Audrey',
 '1,546,886',
 'Random House',
 '33',
 'Atonement',
 'McEwan, Ian',
 '1,539,428',
 'Random House',
 '34',
 "Bridget Jones's Diary:A Novel",
 'Fielding, Helen',
 '1,508,205',
 'Pan Macmillan',
 '35',
 'World According to Clarkson,The',
 'Clarkson, Jeremy',
 '1,489,403',
 'Penguin',
 '36',
 "Captain Corelli's Mandolin",
 'Bernieres, Louis de',
 '1,352,318',
 'Random House',
 '37',
 'Sound of Laughter,The',
 'Kay, Peter',
 '1,310,207',
 'Random House',
 '38',
 'Life of Pi',
 'Martel, Yann',
 '1,310,176',
 'Canongate',
 '39',
 'Billy Connolly',
 'Stephenson, Pamela',
 '1,231,957',
 'HarperCollins',
 '40',
 'Child Called It,A',
 'Pelzer, Dave',
 '1,217,712',
 'Orion',
 '41',
 "Gruffalo's Child,The",
 'Donaldson, Julia',
 '1,208,711',
 'Pan Macmillan',
 '42',
 "Angela's Ashes:A Memoir of a Childhood",
 'McCourt, Frank',
 '1,204,058',
 'HarperCollins',
 '43',
 'Birdsong',
 'Faulks, Sebastian',
 '1,184,967',
 'Random House',
 '44',
 'Northern Lights:His Dark Materials S.',
 'Pullman, Philip',
 '1,181,503',
 'Scholastic Ltd.',
 '45',
 'Labyrinth',
 'Mosse, Kate',
 '1,181,093',
 'Orion',
 '46',
 'Harry Potter and the Half-blood Prince',
 'Rowling, J.K.',
 '1,153,181',
 'Bloomsbury',
 '47',
 'Help,The',
 'Stockett, Kathryn',
 '1,132,336',
 'Penguin',
 '48',
 'Man and Boy',
 'Parsons, Tony',
 '1,130,802',
 'HarperCollins',
 '49',
 'Memoirs of a Geisha',
 'Golden, Arthur',
 '1,126,337',
 'Random House',
 '50',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'McCall Smith, Alexander',
 '1,115,549',
 'Little, Brown Book',
 '51',
 'Island,The',
 'Hislop, Victoria',
 '1,108,328',
 'Headline',
 '52',
 'PS, I Love You',
 'Ahern, Cecelia',
 '1,107,379',
 'HarperCollins',
 '53',
 'You are What You Eat:The Plan That Will Change Your Life',
 'McKeith, Gillian',
 '1,104,403',
 'Penguin',
 '54',
 'Shadow of the Wind,The',
 'Zafon, Carlos Ruiz',
 '1,092,349',
 'Orion',
 '55',
 'Tales of Beedle the Bard,The',
 'Rowling, J.K.',
 '1,090,847',
 'Bloomsbury',
 '56',
 'Broker,The',
 'Grisham, John',
 '1,087,262',
 'Random House',
 '57',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Atkins, Robert C.',
 '1,054,196',
 'Random House',
 '58',
 'Subtle Knife,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,037,160',
 'Scholastic Ltd.',
 '59',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 'Truss, Lynne',
 '1,023,688',
 'Profile Books Group',
 '60',
 "Delia's How to Cook:(Bk.1)",
 'Smith, Delia',
 '1,015,956',
 'Random House',
 '61',
 'Chocolat',
 'Harris, Joanne',
 '1,009,873',
 'Transworld',
 '62',
 'Boy in the Striped Pyjamas,The',
 'Boyne, John',
 '1,004,414',
 'Random House Childrens Books G',
 '63',
 "My Sister's Keeper",
 'Picoult, Jodi',
 '1,003,780',
 'Hodder & Stoughton',
 '64',
 'Amber Spyglass,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,002,314',
 'Scholastic Ltd.',
 '65',
 'To Kill a Mockingbird',
 'Lee, Harper',
 '998,213',
 'Random House',
 '66',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Gray, John',
 '992,846',
 'HarperCollins',
 '67',
 'Dear Fatty',
 'French, Dawn',
 '986,753',
 'Random House',
 '68',
 'Short History of Tractors in Ukrainian,A',
 'Lewycka, Marina',
 '986,115',
 'Penguin',
 '69',
 'Hannibal',
 'Harris, Thomas',
 '970,509',
 'Random House',
 '70',
 'Lord of the Rings,The',
 'Tolkien, J. R. R.',
 '967,466',
 'HarperCollins',
 '71',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Moore, Michael',
 '963,353',
 'Penguin',
 '72',
 'Interpretation of Murder,The',
 'Rubenfeld, Jed',
 '962,515',
 'Headline',
 '73',
 'Sharon Osbourne Extreme:My Autobiography',
 'Osbourne, Sharon',
 '959,496',
 'Little, Brown Book',
 '74',
 'Alchemist,The:A Fable About Following Your Dream',
 'Coelho, Paulo',
 '956,114',
 'HarperCollins',
 '75',
 "At My Mother's Knee ...:and Other Low Joints",
 "O'Grady, Paul",
 '945,640',
 'Transworld',
 '76',
 'Notes from a Small Island',
 'Bryson, Bill',
 '931,312',
 'Transworld',
 '77',
 'Return of the Naked Chef,The',
 'Oliver, Jamie',
 '925,425',
 'Penguin',
 '78',
 'Bridget Jones: The Edge of Reason',
 'Fielding, Helen',
 '924,695',
 'Pan Macmillan',
 '79',
 "Jamie's Italy",
 'Oliver, Jamie',
 '906,968',
 'Penguin',
 '80',
 'I Can Make You Thin',
 'McKenna, Paul',
 '905,086',
 'Transworld',
 '81',
 'Down Under',
 'Bryson, Bill',
 '890,847',
 'Transworld',
 '82',
 'Summons,The',
 'Grisham, John',
 '869,671',
 'Random House',
 '83',
 'Small Island',
 'Levy, Andrea',
 '869,659',
 'Headline',
 '84',
 'Nigella Express',
 'Lawson, Nigella',
 '862,602',
 'Random House',
 '85',
 'Brick Lane',
 'Ali, Monica',
 '856,540',
 'Transworld',
 '86',
 "Memory Keeper's Daughter,The",
 'Edwards, Kim',
 '845,858',
 'Penguin',
 '87',
 'Room on the Broom',
 'Donaldson, Julia',
 '842,535',
 'Pan Macmillan',
 '88',
 'About a Boy',
 'Hornby, Nick',
 '828,215',
 'Penguin',
 '89',
 'My Booky Wook',
 'Brand, Russell',
 '820,563',
 'Hodder & Stoughton',
 '90',
 'God Delusion,The',
 'Dawkins, Richard',
 '816,907',
 'Transworld',
 '91',
 '"Beano" Annual,The',
 '0',
 '816,585',
 'D.C. Thomson',
 '92',
 'White Teeth',
 'Smith, Zadie',
 '815,586',
 'Penguin',
 '93',
 'House at Riverton,The',
 'Morton, Kate',
 '814,370',
 'Pan Macmillan',
 '94',
 'Book Thief,The',
 'Zusak, Markus',
 '809,641',
 'Transworld',
 '95',
 'Nights of Rain and Stars',
 'Binchy, Maeve',
 '808,900',
 'Orion',
 '96',
 'Ghost,The',
 'Harris, Robert',
 '807,311',
 'Random House',
 '97',
 'Happy Days with the Naked Chef',
 'Oliver, Jamie',
 '794,201',
 'Penguin',
 '98',
 'Hunger Games,The:Hunger Games Trilogy',
 'Collins, Suzanne',
 '792,187',
 'Scholastic Ltd.',
 '99',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 'Pelzer, Dave',
 '791,507',
 'Orion',
 '100',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
 'Oliver, Jamie',
 '791,095',
 'Penguin']

In [7]:
book_name = table[1::5]

In [8]:
book_name[0:5]

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey']

In [9]:
author_name = table[2::5]

In [10]:
author_name[0:5]

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.']

In [11]:
volume_sold = table[3::5]

In [13]:
volume_sold[0:5]

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936']

In [14]:
publisher = table[4::5]

In [15]:
publisher[0:5]

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House']

In [16]:
#scrapping genre
genre=[]
try:
    names=driver.find_elements(By.XPATH,"//td[@class='last left']")
    for i in names:
        genre.append(i.text)
except NoSuchElementException:              
    genre.append('-')

In [17]:
genre[0:5]

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas']

In [19]:
#creating dataframe
df=pd.DataFrame({"Book_name":book_name,
                "Author_name":author_name,
                'Volume sold':volume_sold,
                'Publisher':publisher,
                'Genre':genre})
df

,Book_name,Author_name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
#### You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [20]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [21]:
# Opening the imdb.com
url = "https://www.imdb.com/list/ls095964455"
driver.get(url)

In [22]:
# scraping name of webseries
name=[]
try:
    names=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a")
    for i in names:
        name.append(i.text)
except NosuchElementException:
    name.append('-')

In [23]:
len(name)

100

In [24]:
# scraping year of release
years=[]
try:
    span=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
    for i in span:
        years.append(i.text)
except NosuchElementException:
    years.append('-')

In [25]:
len(years)

100

In [26]:
# scraping genre
genre=[]
try:
    genres=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')

In [27]:
len(genre)

100

In [28]:
# scraping run_time
run_time=[]
try:
    info=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in info:
        run_time.append(i.text)
except NoSuchElementException:
    run_time.append('')

In [29]:
len(run_time)

100

In [30]:
# scraping rating
rating=[]
try:
    info=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
    for i in info:
        rating.append(i.text)
except NoSuchElementException:
    rating.append('-')

In [31]:
len(rating)

100

In [32]:
# scraping votes
votes=[]
try:
    info=driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in info:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('-')

In [33]:
len(votes)

100

In [34]:
#creating dataframe
df=pd.DataFrame({"Name":name,
                "years":years,
                "Genre":genre,
                "Run_time":run_time,
                "Rating":rating,
                "Votes":votes})
df

,Name,years,Genre,Run_time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,058,526"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,152,762"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"971,217"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"289,623"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"249,097"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,667"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,697"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"195,365"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,114"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"237,725"

### 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
#### You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
#### Note: - from the home page you have to go to the ShowAllDataset page through code.

In [35]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [36]:
# Opening the imdb.com
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [37]:
#clicking show all datasets link
show=driver.find_element(By.XPATH,"//a[@href='datasets.php']")
show.click()

In [38]:
#scraping names
name=[]
try:
    names=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('-')

In [39]:
len(name)

622

In [40]:
#scraping data type
data_type=[]
try:
    info=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in info[1:]:
         data_type.append(i.text)
except NoSuchElementException:
    data_type.append("-")

In [41]:
len(data_type)

622

In [42]:
#scraping default task
default_task=[]
try:
    info=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in info[1:]:
         default_task.append(i.text)
except NoSuchElementException:
    default_task.append("-")

In [43]:
len(default_task)

622

In [44]:
#scraping Attributes type
attr_type=[]
try:
    info=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in info[1:]:
         attr_type.append(i.text)
except NoSuchElementException:
    attr_type.append("-")

In [45]:
len(attr_type)

622

In [46]:
#scraping No of Instances
no_of_instances=[]
try:
    info=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in info[1:]:
         no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append("-")

In [47]:
len(no_of_instances)

622

In [48]:
#scraping No of Attributes
no_of_attributes=[]
try:
    info=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in info[1:]:
         no_of_attributes.append(i.text)
except NoSuchElementException:
    no_of_attributes.append("-")

In [49]:
len(no_of_attributes)

622

In [50]:
#scraping year
year=[]
try:
    info=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in info[1:]:
         year.append(i.text)
except NoSuchElementException:
    year.append("")

In [51]:
len(year)

622

In [52]:
#creating dataframe
df=pd.DataFrame({'Name':name,
                'Data_type':data_type,
                'Task':default_task,
                'Attribute_type':attr_type,
                'No_of_instances':no_of_instances,
                'No_of_attributes':no_of_attributes,
                'Year':year})
df

,Name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021