## Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [1]:
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

import selenium
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException,InvalidArgumentException,InvalidArgumentException

In [2]:
# Let's first connect to the driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [3]:
# Opening the naukari page on automated chrome browser
driver.get("https:www.naukri.com/")

In [4]:
# Entering designation and location as required in the question

designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [5]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [6]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [7]:
job_title = []
job_location = []
company_name = []
experience = []

In [8]:
# Scraping job title from the given page
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [9]:
# Scraping Job location
location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [10]:
# Scraping Company Name
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [11]:
# Scraping Experience
experience_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    expe = i.text
    experience.append(expe)

In [12]:
print(len(job_title), len(job_location), len(company_name), len(experience))

10 10 10 10

In [13]:
# Creating the dataframe from above data-
df = pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company Name':company_name, 'Experience Required':experience})
df

,Job Title,Job Location,Company Name,Experience Required
0,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
1,Data Analyst - Decision Science,Bangalore/Bengaluru,Jana Small Finance Bank,3-8 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru(Domlur),KrazyBee,3-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,Novel Office,0-3 Yrs
4,Women on career break_ Data Analyst,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Zinnov Management C,5-10 Yrs
5,BYJU'S DBEL : Sr Data Analyst,Bangalore/Bengaluru,BYJUS,3-7 Yrs
6,SR. Data Analyst- SME- Pharma and Healthcare,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",CHRYSELYS,2-6 Yrs
7,Data Analyst,"Bangalore/Bengaluru, Chennai",Botree Software,1-5 Yrs
8,Business Data Analyst,Bangalore/Bengaluru,Varite,8-11 Yrs
9,Senior Data Analyst - KPO,"Bangalore/Bengaluru, Gurgaon/Gurugram, Gurgaon...",Huquo Consulting Pvt. Ltd,7-12 Yrs

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data

In [151]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [152]:
# Opening the naukari page on automated chrome browser
driver.get("https:www.naukri.com/")

In [153]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

In [154]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [155]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [163]:
job_title = []
job_location = []
company_name = []
experience = []

In [164]:
# Scraping job title from the given page
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

In [165]:
len(job_title)

10

In [166]:
# Scraping Job location
location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)

In [167]:
len(job_location)

10

In [168]:
# Scraping Company Name
company_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)

In [170]:
print(len(job_title), len(job_location), len(company_name),)

10 10 10

In [171]:
# Creating the dataframe from above data-
df = pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company Name':company_name})
df

,Job Title,Job Location,Company Name
0,Job Opportunity on Data Science_ Python with T...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
4,Data Scientist - A.P. Maersk,Bangalore/Bengaluru\n(WFH during Covid),Maersk
5,Data Scientist,Bangalore/Bengaluru,Infosys
6,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited
7,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited
8,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited
9,Data Scientist,Bangalore/Bengaluru,United Phosphorus Limited

## Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

#### You have to use the location and salary filter.
#### You have to scrape data for “Data Scientist” designation for first 10 job results.
#### You have to scrape the job-title, job-location, company name, experience required.
#### The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [172]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [173]:
# Opening the naukari page on automated chrome browser
driver.get("https:www.naukri.com/")

In [174]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

In [175]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [176]:
# applying location filter on web page
driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]/label/i").click()

In [179]:
# applying salary filter on webpage
driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i").click()

In [180]:
# Scraping job_location
job_title = []
loc_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in loc_tags[0:10]:
    job = i.text
    job_title.append(job)

In [181]:
job_title

['DigitalBCG GAMMA Data Scientist',
 'Data Scientist',
 'Data Scientist / Chat-bot Developer',
 'Lead Data Scientist',
 'Data Scientist - Predictive Analytics',
 'Data Scientist For Healthcare Product team',
 'Data Scientist',
 'Data Scientist - Engine Algorithm',
 'Data Scientist',
 'Jr. Data Scientist']

In [182]:
job_loc = []
loc_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in loc_tags[0:10]:
    job = i.text
    job_loc.append(job)

In [183]:
com_nam = []
loc_tags = driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in loc_tags[0:10]:
    job = i.text
    com_nam.append(job)

In [184]:
exp=[]
experience_tags = driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in experience_tags[0:10]:
    expe = i.text
    exp.append(expe)

In [185]:
df = pd.DataFrame({'Job Title':job_title, 'Job Location':job_loc, 'Company Name':com_nam, 'Experience Required':exp})
df

,Job Title,Job Location,Company Name,Experience Required
0,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
1,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
2,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
3,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
4,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
5,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
6,Data Scientist,Noida,4i Odc,2-4 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
9,Jr. Data Scientist,Noida,Dataflow,2-5 Yrs

## Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
### 1. Brand
### 2. Product Description
### 3. Price

In [10]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [11]:
url = "https://www.flipkart.com/"

In [12]:
#opening the webpage through our driver
driver.get(url)

In [13]:
#interacting with the webpage
product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys("Sunglasses")

In [15]:
# Click on Search button
sear = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
sear.click()

In [16]:
#creating the empty lists
Brand=[]
Product_Description=[]
Price=[]

In [17]:
#getting the list of url of first 100 sunglasses
URL=[]
for i in range(0,3):
    sunglasses=driver.find_elements(By.XPATH,"//a[@class='_2UzuFa']")[0:100]
    for i in sunglasses:
        URL.append(i.get_attribute('href'))
    driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]').click()
    time.sleep(3)

In [18]:
list_of_url=URL[0:100]

In [19]:
#going to the url of first sunglasses through our driver
driver.get(list_of_url[0])

In [20]:
#running a loop to extract all the required information from the list_of_url
from tqdm import tqdm
for i in tqdm(list_of_url):
    driver.get(i)
    try:
        brand=driver.find_element(By.XPATH,"//span[@class='G6XhRU']").text
        Brand.append(brand)
        description=driver.find_element(By.XPATH,"//span[@class='B_NuCI']").text
        Product_Description.append(description)
        price=driver.find_element(By.XPATH,"//div[@class='_30jeq3 _16Jk6d']").text
        Price.append(price)
        
    except NoSuchElementException:
        Brand.append("Null")
        Product_Description.append("Null")
        Price.append("Null")

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [06:59<00:00,  4.20s/it]

In [21]:
#printing length
print(len(Brand),len(Product_Description),len(Price))

100 100 100

In [22]:
df = pd.DataFrame({'Brand Name':Brand, 'Product Description':Product_Description, 'Price':Price,})
df

         Brand Name                                Product Description   Price
0     Silver Kartz   UV Protection Clubmaster Sunglasses (53)  (For...    ₹279
1   ROZZETTA CRAFT   UV Protection, Gradient Rectangular Sunglasses...    ₹449
2        New Specs   UV Protection Rectangular Sunglasses (Free Siz...    ₹264
3         Fastrack   UV Protection Rectangular Sunglasses (Free Siz...    ₹639
4         Fastrack   UV Protection Wayfarer Sunglasses (Free Size) ...    ₹799
..              ...                                                ...     ...
95           NuVew   UV Protection, Night Vision, Riding Glasses Sp...    ₹285
96       Rich Club   UV Protection Round Sunglasses (50)  (For Men ...    ₹399
97   VINCENT CHASE   by Lenskart Polarized, UV Protection Wayfarer ...  ₹1,049
98          AISLIN   UV Protection, Gradient Cat-eye Sunglasses (61...    ₹498
99        elegante   UV Protection Over-sized Sunglasses (Free Size...    ₹431

[100 rows x 3 columns]

## Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
### This task will be done in following steps:
### 1. First get the webpage https://www.flipkart.com/
### 2. Enter “iphone 11” in “Search” field .
### 3. Then click the search button.

In [50]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [51]:
url=" https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI"

In [52]:
#opening the webpage through our driver
driver.get(url)

In [53]:
#clicking on all reviews
driver.find_element(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]').click()

In [62]:
start = 0
end = 10
rate=[]
for page in range(start, end):
    titles = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    for i in titles:
        rate.append(i.text)
    next_button = driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']") #to scrap data from next page
    #next_button.click()
    time.sleep(3)

In [63]:
len(rate)

100

In [56]:
review = []

for page in range(0,10):
    titles = driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']")
    for i in titles:
        review.append(i.text)
    next_button = driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']") #to scrap data from next page
    #next_button.click()
    time.sleep(3)

In [57]:
len(review)

100

In [58]:
full_review = []

for page in range(0,10):
    titles = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']")
    for i in titles:
        full_review.append(i.text)
    next_button = driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']") #to scrap data from next page
    #next_button.click()
    time.sleep(3)

In [59]:
len(full_review)

100

In [64]:
df = pd.DataFrame({'Rating':rate, 'Review':review, 'Review_Summary':full_review})
df

,Rating,Review,Review_Summary
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Highly recommended,What a camera .....just awesome ..you can feel...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Highly recommended,It's my first time to use iOS phone and I am l...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,4,Good choice,So far it’s been an AMAZING experience coming ...

## Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
### You have to scrape 4 attributes of each sneaker:
### 1. Brand
### 2. Product Description
### 3. Price

In [65]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [66]:
url = "https://www.flipkart.com/"

In [67]:
#opening the webpage through our driver
driver.get(url)

In [68]:
# Entering Sneakers
product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys("Sneakers")

In [69]:
# Click on search button
sear = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
sear.click()

In [70]:
# scraping Brand Name
brand=[]
for page in range(0, 3):
    titles = driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    for i in titles:
        brand.append(i.text)
    next_button = driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']") #to scrap data from next page
    #next_button.click()
    time.sleep(3)

In [71]:
BRAND = brand[0:100]

In [72]:
len(BRAND)

100

In [78]:
# scraping full description
des=[]
for page in range(0, 4):
    titles = driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    for i in titles:
        des.append(i.text)
    next_button = driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']") #to scrap data from next page
    #next_button.click()
    time.sleep(3)

In [80]:
Product_description = des[0:100]

In [81]:
len(Product_description)

100

In [82]:
# scraping price
pri=[]
for page in range(0, 3):
    titles = driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in titles:
        pri.append(i.text)
    next_button = driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']") #to scrap data from next page
    #next_button.click()
    time.sleep(3)

In [83]:
PRICE = pri[0:100]

In [84]:
len(PRICE)

100

In [85]:
df = pd.DataFrame({'BRAND':BRAND, 'PRODUCT DESCRIPTION':Product_description, 'PRICE':PRICE})
df

           BRAND                                PRODUCT DESCRIPTION PRICE
0       FindMine                                   Sneakers For Men  ₹499
1       FindMine                                   Sneakers For Men  ₹499
2       Magnolia                                   Sneakers For Men  ₹419
3         Labbin  Lightweight Pack Of 1 Trendy Sneakers Sneakers...  ₹499
4           aadi                                   Sneakers For Men  ₹288
..           ...                                                ...   ...
95        Shozie                                   Sneakers For Men  ₹389
96        Kzaara                                   Sneakers For Men  ₹259
97  K- FOOTLANCE                                   Sneakers For Men  ₹416
98     Deals4you                                   Sneakers For Men  ₹345
99        BRUTON  Lightweight Pack Of 1 Trendy Sneakers Sneakers...  ₹376

[100 rows x 3 columns]

## Q7: Go to the link - https://www.myntra.com/shoes
### Set second Price filter and Color filter to “Black”, as shown in the below image

### And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [2]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [3]:
#specifying the url of the webpage to be scraped
url="https://www.myntra.com/shoes"

In [4]:
#opening the webpage through our driver
driver.get(url)

In [5]:
# applying Color filter on webpage

driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div").click()

In [6]:
# applying Price filter on webpage

driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div").click()

In [7]:
# Sraping brand name
brand = []

for page in range(0,2):
    titles = driver.find_elements(By.XPATH,"//h3[@class='product-brand']")
    for i in titles:
        brand.append(i.text)
    next_button = driver.find_elements(By.XPATH,"//li[@class='pagination-next']") #to scrap data from next page
    #next_button.click()
    time.sleep(3)

In [8]:
len(brand)

100

In [9]:
# Scraping Product Description
product_des = []

for page in range(0,2):
    titles = driver.find_elements(By.XPATH,"//h4[@class='product-product']")
    for i in titles:
        product_des.append(i.text)
    next_button = driver.find_elements(By.XPATH,"//li[@class='pagination-next']") #to scrap data from next page
    #next_button.click()
    time.sleep(3)

In [10]:
len(product_des)

100

In [11]:
# Scraping Price
price = []

for page in range(0,2):
    titles = driver.find_elements(By.XPATH,"//div[@class='product-price']")
    for i in titles:
        price.append(i.text)
    next_button = driver.find_elements(By.XPATH,"//li[@class='pagination-next']") #to scrap data from next page
    #next_button.click()
    time.sleep(3)

In [12]:
len(price)

100

In [13]:
# Making DataFrame
df = pd.DataFrame({'Brand Name':brand, 'Product Description':product_des, 'Price':price})
df

,Brand Name,Product Description,Price
0,Nike,Men ZOOM WINFLO8 Running Shoes,Rs. 7880Rs. 8295(5% OFF)
1,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 7649Rs. 8999(15% OFF)
2,Nike,Men React Infinity 3 Running,Rs. 13295Rs. 13995(5% OFF)
3,Nike,Lebron Witness VI Basketball,Rs. 8295
4,PUMA Motorsport,Mercedes AMG Petronas F1 Shoes,Rs. 9349Rs. 10999(15% OFF)
...,...,...,...
95,Reebok,Men Zig Dynamica2Adventure Run,Rs. 8999
96,Nike,Women React Escape Running,Rs. 9770Rs. 11495(15% OFF)
97,Skechers,Men Sports Shoes,Rs. 7999
98,Puma,Men Velocity Nitro 2 Running,Rs. 8799Rs. 10999(20% OFF)
99,Hush Puppies,Men Perforations Leather Slip-On Sneakers,Rs. 7999

## Q8: Go to webpage https://www.amazon.in/
### Enter “Laptop” in the search field and then click the search icon.
### Then set CPU Type filter to “Intel Core i7” as shown in the below image:

In [138]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [139]:
url = 'https://www.amazon.in/'

In [140]:
#opening the webpage through our driver
driver.get(url)

In [141]:
#interacting with the webpage
driver.find_element(By.XPATH,'//input[@id="twotabsearchtextbox"]').send_keys("Laptop")
driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]').click()

In [142]:
#clicking on the "Intel core i7" filter
driver.find_element(By.XPATH,'//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i').click()

In [143]:
title=[]

titles = driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for i in titles[0:10]:
    title.append(i.text)

    time.sleep(3)

In [144]:
len(title)

10

In [145]:
price=[]

titles = driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in titles[0:10]:
    price.append(i.text)

In [146]:
price

['62,990',
 '1,06,999',
 '80,990',
 '26,998',
 '81,990',
 '79,990',
 '57,990',
 '41,690',
 '1,01,490',
 '99,990']

In [147]:
rating = []
titles = driver.find_elements(By.XPATH,"//div[@class='a-row a-size-small']")
for i in titles[0:10]:
    rating.append(i.text)

In [148]:
rating

['31', '89', '60', '7', '6', '31', '40', '6', '82', '24']

In [149]:
df = pd.DataFrame({'Title':title, 'Price':price, 'Rating':rating})
df

                                               Title     Price Rating
0  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...    62,990     31
1  Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...  1,06,999     89
2  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    80,990     60
3  (Renewed) Lenovo Intel Core i7 5600U 12.5-Inch...    26,998      7
4  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...    81,990      6
5  Samsung Galaxy Book2 Intel 12th Gen core i7 39...    79,990     31
6  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    57,990     40
7  (Renewed) HP Elitebook 840G1-i7-8 GB-2 TB 14-i...    41,690      6
8  HP Victus 11th Gen Intel Core i7-11800H 16.1" ...  1,01,490     82
9  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...    99,990     24

## Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [48]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [49]:
url = "https://www.ambitionbox.com/"

In [50]:
# Opening the page on automated chrome browser
driver.get(url)

In [51]:
search = driver.find_element(By.CLASS_NAME,"navItemLink")
search.click()

In [52]:
# Searching data scientist job
designation = driver.find_element(By.XPATH,"//input[@class='input tt-input']")
designation.send_keys("Data Scientist")

In [53]:
# Click on search button
se = driver.find_element(By.CLASS_NAME,"ctas-btn-medium")
se.click()

In [55]:
# Click on location
location = driver.find_element(By.XPATH,'//p[@class="body-medium text-capitalize undefined"]').click()

In [65]:
# Selecting Location as Noida
noida = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[8]/div/input').click()

In [66]:
com_name=[]

titles = driver.find_elements(By.XPATH,"//p[@class='company body-medium']")
for i in titles[0:10]:
    com_name.append(i.text)

In [67]:
com_name

['Optum Global Solutions (India) Private Limited',
 'EY GDS',
 'CBRE South Asia Pvt Ltd',
 'GENPACT India Private Limited',
 'Genpact',
 'Ericsson India Global Services Pvt. Ltd.',
 'GENPACT India Private Limited',
 'Dew Solutions Pvt. Ltd.',
 'One97 Communications Limited',
 'EY']

In [68]:
day_ago = []
loc_tags = driver.find_elements(By.XPATH,"//span[@class='body-small-l']")
for i in loc_tags[0:21]:
    job = i.text
    day_ago.append(job)

In [69]:
day_ago

['21hr ago',
 'via naukri.com',
 '20hr ago',
 'via iimjobs.com',
 '28d ago',
 'via naukri.com',
 '21d ago',
 'via naukri.com',
 '23d ago',
 'via iimjobs.com',
 '1mon ago',
 'via naukri.com',
 '31d ago',
 'via naukri.com',
 '6d ago',
 'via hirist.com',
 '14d ago',
 'via naukri.com',
 '1mon ago',
 'via hirist.com']

In [70]:
a = day_ago[0::2]

In [71]:
rating = []
loc_tags = driver.find_elements(By.XPATH,"//span[@class='body-small']")
for i in loc_tags[0:10]:
    job = i.text
    rating.append(job)

In [72]:
rating

['4.1', '3.8', '4.3', '4.0', '4.0', '4.3', '4.0', '4.3', '3.8', '3.8']

In [73]:
df = pd.DataFrame({'Company Name':com_name, 'No. Day Ago':a, 'Rating':rating,})
df

                                     Company Name No. Day Ago Rating
0  Optum Global Solutions (India) Private Limited    21hr ago    4.1
1                                          EY GDS    20hr ago    3.8
2                         CBRE South Asia Pvt Ltd     28d ago    4.3
3                   GENPACT India Private Limited     21d ago    4.0
4                                         Genpact     23d ago    4.0
5        Ericsson India Global Services Pvt. Ltd.    1mon ago    4.3
6                   GENPACT India Private Limited     31d ago    4.0
7                         Dew Solutions Pvt. Ltd.      6d ago    4.3
8                    One97 Communications Limited     14d ago    3.8
9                                              EY    1mon ago    3.8

## Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [99]:
driver = webdriver.Chrome(r"G:\chromedriver_win32\chromedriver.exe")

In [100]:
url = "https://www.ambitionbox.com/"

In [101]:
# Opening the page on automated chrome browser
driver.get(url)

In [102]:
s = driver.find_elements(By.XPATH,'//a[@class="subNavListItem"]')

In [103]:
for i in s:
    print(i.get_attribute('href'))

https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav
https://www.ambitionbox.com/compare?campaign=desktop_nav
https://www.ambitionbox.com/reviews?campaign=desktop_nav
https://www.ambitionbox.com/contribute/company-review?campaign=desktop_nav
https://www.ambitionbox.com/salaries?campaign=desktop_nav
https://www.ambitionbox.com/salaries/take-home-salary-calculator?campaign=desktop_nav
https://www.ambitionbox.com/contribute/salary-v2?campaign=desktop_nav
https://www.ambitionbox.com/interviews?campaign=desktop_nav
https://www.ambitionbox.com/colleges?campaign=desktop_nav
https://www.ambitionbox.com/contribute/interview-story?campaign=desktop_nav

In [104]:
driver.get('https://www.ambitionbox.com/salaries?campaign=desktop_nav')

In [105]:
ser = driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/i[1]").click()

In [106]:
# Clicking Search button
se = driver.find_element(By.XPATH,"//i[@class='icon-search']").click()

In [107]:
# Searchin data scientist job
designation = driver.find_element(By.XPATH,"//input[@class='tt-input']")
designation.send_keys("Data Scientist")

In [108]:
ser = driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/i[1]").click()

#click on select button
select = driver.find_element(By.XPATH,'//div[@class="suggestion_wrap tt-suggestion tt-selectable"]').click()

In [111]:
com_name=[]

titles = driver.find_elements(By.XPATH,"//div[@class='company-info']")
for i in titles[0:10]:
    com_name.append(i.text)

In [112]:
com_name

['Walmart\nData Scientist Salary\n3-4 yrs experience (based on 22 salaries)',
 'Ab Inbev\nData Scientist Salary\n2-4 yrs experience (based on 54 salaries)',
 'Optum\nData Scientist Salary\n2-4 yrs experience (based on 49 salaries)',
 'ZS\nData Scientist Salary\n1-2 yrs experience (based on 34 salaries)',
 'Fractal Analytics\nData Scientist Salary\n2-4 yrs experience (based on 116 salaries)',
 'Tiger Analytics\nData Scientist Salary\n2-4 yrs experience (based on 67 salaries)',
 'Sigmoid Analytics\nData Scientist Salary\n1 yr experience (based on 10 salaries)',
 'Legato Health Technologies\nData Scientist Salary\n4 yrs experience (based on 11 salaries)',
 'Tredence\nData Scientist Salary\n3 yrs experience (based on 13 salaries)',
 'HSBC\nData Scientist Salary\n4 yrs experience (based on 10 salaries)']

In [116]:
total_re = []
titles = driver.find_elements(By.XPATH,"//span[@class='datapoints']")
for i in titles[0:10]:
    total_re.append(i.text)

In [117]:
total_re

['(based on 22 salaries)',
 '(based on 54 salaries)',
 '(based on 49 salaries)',
 '(based on 34 salaries)',
 '(based on 116 salaries)',
 '(based on 67 salaries)',
 '(based on 10 salaries)',
 '(based on 11 salaries)',
 '(based on 13 salaries)',
 '(based on 10 salaries)']

In [118]:
avg_sal = []
titles = driver.find_elements(By.XPATH,"//p[@class='averageCtc']")
for i in titles[0:10]:
    avg_sal.append(i.text)

In [119]:
min_sal = []
titles = driver.find_elements(By.XPATH,"//div[@class='value body-medium']")
for i in titles[0:21]:
    min_sal.append(i.text)

In [120]:
mi_sal = min_sal[0::2]

In [121]:
mi_sal

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 11.0L',
 '₹ 11.0L',
 '₹ 9.0L',
 '₹ 9.0L',
 '₹ 12.7L',
 '₹ 11.0L',
 '₹ 8.8L',
 '₹ 12.0L']

In [122]:
max_sal = min_sal[1::2]

In [123]:
max_sal

['₹ 45.0L',
 '₹ 26.0L',
 '₹ 22.6L',
 '₹ 22.0L',
 '₹ 24.0L',
 '₹ 20.0L',
 '₹ 19.7L',
 '₹ 20.0L',
 '₹ 17.5L',
 '₹ 18.0L']

In [124]:
exp = []
titles = driver.find_elements(By.XPATH,"//div[@class='sbold-list-header']")
for i in titles[0:10]:
    exp.append(i.text)

In [125]:
df = pd.DataFrame({'Company Name':com_name, 'Total Salary Record':total_re, 'Average Salary':avg_sal,'Minimum Salary':mi_sal,'Maximum Salary':max_sal,'Experience Required':exp})
df

,Company Name,Total Salary Record,Average Salary,Minimum Salary,Maximum Salary,Experience Required
0,Walmart\nData Scientist Salary\n3-4 yrs experi...,(based on 22 salaries),₹ 32.2L,₹ 25.0L,₹ 45.0L,3-4 yrs experience (based on 22 salaries)
1,Ab Inbev\nData Scientist Salary\n2-4 yrs exper...,(based on 54 salaries),₹ 19.8L,₹ 15.0L,₹ 26.0L,2-4 yrs experience (based on 54 salaries)
2,Optum\nData Scientist Salary\n2-4 yrs experien...,(based on 49 salaries),₹ 16.4L,₹ 11.0L,₹ 22.6L,2-4 yrs experience (based on 49 salaries)
3,ZS\nData Scientist Salary\n1-2 yrs experience ...,(based on 34 salaries),₹ 15.8L,₹ 11.0L,₹ 22.0L,1-2 yrs experience (based on 34 salaries)
4,Fractal Analytics\nData Scientist Salary\n2-4 ...,(based on 116 salaries),₹ 15.5L,₹ 9.0L,₹ 24.0L,2-4 yrs experience (based on 116 salaries)
5,Tiger Analytics\nData Scientist Salary\n2-4 yr...,(based on 67 salaries),₹ 14.7L,₹ 9.0L,₹ 20.0L,2-4 yrs experience (based on 67 salaries)
6,Sigmoid Analytics\nData Scientist Salary\n1 yr...,(based on 10 salaries),₹ 14.7L,₹ 12.7L,₹ 19.7L,1 yr experience (based on 10 salaries)
7,Legato Health Technologies\nData Scientist Sal...,(based on 11 salaries),₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs experience (based on 11 salaries)
8,Tredence\nData Scientist Salary\n3 yrs experie...,(based on 13 salaries),₹ 14.1L,₹ 8.8L,₹ 17.5L,3 yrs experience (based on 13 salaries)
9,HSBC\nData Scientist Salary\n4 yrs experience ...,(based on 10 salaries),₹ 14.0L,₹ 12.0L,₹ 18.0L,4 yrs experience (based on 10 salaries)