# worksheet 4

In [2]:
import sqlite3
import pandas as pd

In [3]:
conn= sqlite3.connect('data')

In [4]:
cur= conn.cursor()

# Q1

In [4]:
cur.execute("CREATE TABLE orders(orderNumber INT PRIMARY KEY, orderDate INT,requiredDate INT, shippedDate INT, Status TEXT, comments TEXT, customerNumber INT)")

In [5]:
cur.execute('SELECT AVG(orderNumber),shippedDate FROM orders GROUP BY shippedDate')

# Q2

In [ ]:
cur.execute("SELECT AVG(orderNumber), orderDate FROM orders GROUP BY orderDate")

# Q3

In [7]:
cur.execute("CREATE TABLE products( productCode INT PRIMARY KEY, productName TEXT,productLine TEXT, productsScale INT, productsVendor TEXT,productDescription TEXT, quantityInStock INT, buyprice INT, MSRP INT )")

In [9]:
cur.execute("SELECT productName, MIN(MSRP) FROM products")

# Q4

In [10]:
cur.execute("SELECT productName, MAX(quantityInStock) FROM products ")

# Q5

In [13]:
cur.execute("CREATE TABLE orderdetails(orderNumber INT PRIMARY KEY, productCode INT,quantityOrdered INT, priceEach INT, orderLineNumber INT)")

In [8]:
cur.execute("SELECT products.productName, MAX(orderdetails.orderNumber)FROM orderdetails o INNER JOIN products p ON p.productCode = o.productCode GROUP BY orderNumber")

OperationalError: no such column: products.productName

# Q6

In [28]:
cur.execute("CREATE TABLE payments(customerNumber INT, checkNumber INT,paymentDate INT, amount INT)")

In [15]:
cur.execute("CREATE TABLE Customers(customerNumber TEXT PRIMARY KEY, customerName TEXT,contactLastName TEXT, contactFirstName TEXT, phone INT, adrressLine1 TEXT,addressLine2 TEXT, city TEXT, state TEXT, postalCode INT, country TEXT, salesRepEmployeeNumber INT,creditLimit TEXT)")

In [17]:
cur.execute("SELECT customerName, amount FROM customers c, payments p INNER JOIN payments ON c.customerCode= p.customerCode ")

OperationalError: ambiguous column name: amount

# Q7

In [ ]:
SELECT

In [6]:
cur.execute('DROP TABLE products')