# worksheet SQL 3

In [1]:
import sqlite3
import pandas as pd

# Q1

In [2]:
conn= sqlite3.connect('data')

In [3]:
cur= conn.cursor()

In [4]:
cur.execute("CREATE TABLE Customers(customerNumber TEXT PRIMARY KEY, customerName TEXT,contactLastName TEXT, contactFirstName TEXT, phone INT, adrressLine1 TEXT,addressLine2 TEXT, city TEXT, state TEXT, postalCode INT, country TEXT, salesRepEmployeeNumber INT,creditLimit TEXT)")

# Q2

In [5]:
cur.execute("CREATE TABLE orders(orderNumber INT PRIMARY KEY, orderDate INT,requiredDate INT, shippedDate INT, Status TEXT, comments TEXT, customerNumber INT)")

# Q3

In [6]:
results=cur.execute("SELECT orderNumber, orderDate, requiredDate, shippedDate, Status, comments, customerNumber FROM orders ")
results

# Q4

In [7]:
comment= cur.execute("SELECT comments from orders")
comment

# Q5

In [8]:
total_order= cur.execute("SELECT date(orderDate),COUNT(orderNumber) as num_orders FROM orders GROUP BY date(orderDate)")
total_order

# Q6

In [9]:
cur.execute("CREATE TABLE employees(employeeNumber INT PRIMARY KEY,lastName TEXT,firstName TEXT,extension TEXT,email TEXT,officeCode INT,reportTo TEXT, jobTitle TEXT)")

In [10]:
employee_detail= cur.execute("SELECT employeeNumber, lastName, firstName FROM employees ")
employee_detail

# Q7

In [11]:
order_customer= cur.execute("SELECT orders.orderNumber, customers.customerName FROM orders, customers WHERE orders.orderNumber= customers.customerName")
order_customer

In [12]:
order= cur.execute("SELECT customers.customerName, orders.orderNumber FROM orders LEFT JOIN customers ON customers.customerNumber= orders.customerNumber")
order

# Q8

In [13]:
salesperson= cur.execute(" SELECT customerName, salesRepEmployeenumber FROM customers ")

In [14]:
#not sure

# Q9

In [33]:
cur.execute("CREATE TABLE payments(customerNumber INT PRIMARY KEY, checkNumber INT, paymentDate INT,amount INT)")

In [36]:
cur.execute("SELECT paymentDate, SUM(amount) AS total_amount from payments")

# Q10

In [15]:
cur.execute("CREATE TABLE products( productCode INT PRIMARY KEY, productName TEXT,productLine TEXT, productsScale INT, productsVendor TEXT,productDescription TEXT, quantityInStock INT, buyprice INT, MSRP INT )")


prod_data= cur.execute("SELECT productName,MSRP,productDescription FROM products")
prod_data

# Q11

In [16]:
cur.execute("CREATE TABLE orderdetails(orderNumber INT PRIMARY KEY, productCode INT,quantityOrdered INT, priceEach INT, orderLineNumber INT)")

In [17]:
prod_order= cur.execute("SELECT products.productName, products.productDescription, orderdetails.quantityOrdered FROM orderdetails LEFT JOIN products ON products.productCode= orderdetails.productCode")
prod_order

# Q12

In [18]:
most_order=cur.execute("select MAX(orders.orderNumber), customers.city FROM customers LEFT JOIN orders ON orders.customerNumber=customers.customerNumber GROUP BY city")
                       
most_order

# Q13

In [19]:
cur.execute("SELECT state, MAX(customerNumber) as max_customer FROM customers GROUP BY state")

# Q14

In [20]:
emp_detail=cur.execute("SELECT employeeNumber, (firstName+lastName) AS full_name FROM employees GROUP BY employees.FirstName, employees.lastName")
emp_detail

# Q15

In [43]:
cur.execute("SELECT customers.customerName, orders.orderNumber,SUM(payments.amount) FROM customers,orders,payments LEFT JOIN customers c ON c.customerNumber=orders.customerNumber LEFT JOIN payments p ON p.customerNumber= c.customerNumber")